<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cities</title>
	<link rel="stylesheet" href="./../style.css" />
</head>
<body>
	<h1><%= city.name %></h1>
	<h2><%= city.description %></h2>
</body>
</html>
